.about {
  flex-direction: column-reverse;
}
.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
}
.about__photo {
  margin: 0;
}
.card:nth-child(2n + 1) {
  flex-direction: column-reverse;
}
.card:nth-child(2n) {
  flex-direction: column;
}
.card > :first-child {
  margin-right: 0;
}
.card > :last-child {
  margin-right: 0;
}
.card__photo {
  margin-bottom: 1em;
}
.card__info {
  text-align: center;
}
footer {
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}
footer p,
footer .about__social {
  margin: 0 0 0.5em 0;
}
footer .about__social a {
  margin: 0 1em 0 1em;
}
.emoji {
  image-rendering: -webkit-optimize-contrast;
}

