@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

a:link {
  color: #56a5ce;
}
a:visited {
  color: #56a5ce;
}
a:hover {
  color: #67b6df;
}
a:active {
  color: #aaa;
}

* {
  margin: 0;
  padding: 0;
}

.navigation--list {
  text-align: center;
  list-style: none;
}

.navigation--item {
  display: none;
  font-size: 1.3em;
  margin: 1em;
  font-family: "Roboto Condensed", sans-serif;
}

.navigation--item:after {
  margin-left: 1.75em;
  content: " /";
  color: #ddd;
}

.navigation--item:last-child:after {
  content: none;
}

.navigation {
  text-align: center;
  margin-left: 10em;
  margin-right: 10em;
  border-bottom: solid 1px #ddd;
}

.navigation--button {
  margin-bottom: 1em;
  margin-top: 1em;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid #56a5ce;
  width: 28px;
}

.navigation--button:before {
  content: "";
  display: block;
  border-bottom: 4px solid #56a5ce;
  width: 100%;
  margin-bottom: 5px;
}

.navigation--button:after {
  content: "";
  display: block;
  border-bottom: 4px solid #56a5ce;
  width: 100%;
  margin-bottom: 5px;
}

.navigation__active {
  display: flex;
  justify-content: center;
}

.navigation__active:after {
  content: none;
}

@media (min-width: 880px) {
  .navigation--button {
    display: none;
  }

  .navigation--item {
    display: inline-block;
  }
}
